:root {
  --medium-font-weight: 500;
  --bold-font-weight: 700;
  --black-font-weight: 900;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --primary-soc-icon-color: #afb1b8;
  --primary-logo-color: #000000;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --third-background-color: #2f303a;
  --header-border-color: #ececec;
  --portfolio-border-color: #eeeeee;
  --close-btn-border-color: rgba(0, 0, 0, 0.1);
  --grey-circle-bg-color: rgba(255, 255, 255, 0.1);
  --practice-bg-color: rgba(47, 48, 58, 0.8);
  --portfolio-bg-color: rgba(33, 150, 243, 0.9);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --active-btn-color: #188ce8;
  --animation-style: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__caption {
  margin-bottom: 30px;
  font-weight: var(--bold-font-weight);
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .section__caption {
    font-size: 36px;
    line-height: 1.17;
  }
}

.container {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 786px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--header-border-color);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .navigation {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.navigation__menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  position: relative;
  display: block;
  position: relative;
  height: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-weight: var(--medium-font-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  -webkit-transition: color 250ms var(--animation-style);
  transition: color 250ms var(--animation-style);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.navigation__link--active {
  color: var(--accent-color);
}
.navigation__link--active::after {
  display: block;
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts {
  margin-left: auto;
  text-align: left;
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contacts__item:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: var(--medium-font-weight);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-text-color);
  -webkit-transition: color 250ms var(--animation-style);
  transition: color 250ms var(--animation-style);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
  }
}

.contacts__icon {
  margin-right: 8px;
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .contacts__icon {
    margin-right: 10px;
  }
}

.contacts__envelope {
  width: 14px;
  height: 10px;
}
@media screen and (min-width: 1200px) {
  .contacts__envelope {
    width: 16px;
    height: 12px;
  }
}

.contacts__smartphone {
  width: 10px;
  height: 14px;
}
@media screen and (min-width: 1200px) {
  .contacts__smartphone {
    height: 16px;
  }
}

.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--primary-logo-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (min-width: 768px) {
  .navigation__logo {
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__logo {
    margin-right: 92px;
  }
}

.footer__logo {
  color: var(--primary-background-color);
  margin-bottom: 20px;
}

.logo__wrapper {
  color: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--third-background-color);
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .address {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .address {
    margin-right: 70px;
  }
}

.address__list {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .address__list {
    margin-bottom: 0;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
  -webkit-transition: color 250ms var(--animation-style);
  transition: color 250ms var(--animation-style);
}

.address__link--semitransparent {
  color: var(--contacts-color);
}

.footer__title {
  display: block;
  margin-bottom: 20px;
  font-weight: var(--bold-font-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-background-color);
}
@media screen and (min-width: 1200px) {
  .footer__title {
    text-align: left;
  }
}

.footer__media {
  margin-bottom: 60px;
}

.subscripction {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .subscripction {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscripction {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .subscription__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    gap: 12px;
  }
}

.subscription__field {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .subscription__field {
    margin-bottom: 0;
    width: 358px;
  }
}

.subscription__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.menu-toggle {
  padding: 0;
  color: var(--primary-text-color);
  background-color: transparent;
  border-color: transparent;
  -webkit-transition: color 250ms var(--animation-style);
  transition: color 250ms var(--animation-style);
}
.menu-toggle:hover, .menu-toggle:focus, .menu-toggle:active {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle__icon {
  fill: currentColor;
}

.menu-container {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 48px 40px;
  overflow-y: scroll;
  text-align: left;
  background-color: var(--primary-background-color);
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 500ms var(--animation-style);
  transition: -webkit-transform 500ms var(--animation-style);
  transition: transform 500ms var(--animation-style);
  transition: transform 500ms var(--animation-style), -webkit-transform 500ms var(--animation-style);
}
.menu-container.is-open {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.js-close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu__list {
  margin-bottom: auto;
  padding-bottom: 64px;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  text-decoration: none;
  font-weight: var(--medium-font-weight);
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  -webkit-transition: color 250ms var(--animation-style);
  transition: color 250ms var(--animation-style);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}

.mobile-menu__link--active {
  color: var(--accent-color);
}

.mobile-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-bottom: 64px;
}

.mobile-contacts__item:not(:first-child) {
  margin-bottom: 34px;
}

.mobile-contacts__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.mobile-contacts__link--accented {
  font-weight: var(--medium-font-weight);
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-contacts__icon {
  display: none;
}

.mobile-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.mobile-media__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-media__link {
  font-weight: var(--medium-font-weight);
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
}

.hero {
  max-width: 1600px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--third-background-color);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: var(--black-font-weight);
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-background-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.primary-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  min-width: 200px;
  height: 50px;
  padding: 10px 28px;
  font-family: inherit;
  font-weight: var(--bold-font-weight);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  -webkit-transition: background-color 250ms var(--animation-style);
  transition: background-color 250ms var(--animation-style);
  cursor: pointer;
}
.primary-button:hover, .primary-button:focus {
  background-color: var(--active-btn-color);
}

@media screen and (min-width: 1200px) {
  .primary-button--wide {
    min-width: 216px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: var(--backdrop-color);
  opacity: 1;
  -webkit-transition: opacity 300ms var(--animation-style), background-color 300ms var(--animation-style);
  transition: opacity 300ms var(--animation-style), background-color 300ms var(--animation-style);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  display: block;
  max-width: 450px;
  width: calc(100% - 30px);
  padding: 40px;
  background-color: var(--primary-background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 300ms var(--animation-style);
  transition: -webkit-transform 300ms var(--animation-style);
  transition: transform 300ms var(--animation-style);
  transition: transform 300ms var(--animation-style), -webkit-transform 300ms var(--animation-style);
}
@media screen and (min-width: 1200px) {
  .modal-window {
    max-width: 528px;
  }
}

.backdrop.is-hidden .modal-window {
  -webkit-transform: translate(-50%, 100%) scale(0);
          transform: translate(-50%, 100%) scale(0);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  color: var(--primary-logo-color);
  background: var(--primary-background-color);
  border: 1px solid var(--close-btn-border-color);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: color 250ms var(--animation-style);
  transition: color 250ms var(--animation-style);
}
.close-button:hover, .close-button:focus {
  color: var(--accent-color);
}

.close-icon {
  display: block;
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.order__title {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}

.order__request {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.order__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
  color: var(--secondary-text-color);
}

.order__field {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 42px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  color: var(--primary-text-color);
  -webkit-transition: border-color 250ms var(--animation-style);
  transition: border-color 250ms var(--animation-style);
}
.order__field:hover, .order__field:focus {
  border-color: var(--accent-color);
}

.order__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  display: block;
  width: 18px;
  height: 18px;
  fill: var(--primary-text-color);
  -webkit-transition: fill 250ms var(--animation-style);
  transition: fill 250ms var(--animation-style);
}

.order__field:hover + .order__icon,
.order__field:focus + .order__icon {
  fill: var(--accent-color);
}

.order__comment {
  display: block;
  margin-bottom: 20px;
}

.order__message {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: border-color 250ms var(--animation-style);
  transition: border-color 250ms var(--animation-style);
}
.order__message:hover, .order__message:focus {
  border-color: var(--accent-color);
}
.order__message::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.order__message::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.order__message:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.order__message::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.order__message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.order__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 1200px) {
  .order__wrapper {
    font-size: 14px;
    line-height: 1.71;
  }
}

.order__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order__switch {
  display: block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
}

.order__switch--unchecked {
  opacity: 1;
  -webkit-transition: opacity 250ms var(--animation-style);
  transition: opacity 250ms var(--animation-style);
}

.order__switch--checked {
  opacity: 0;
  -webkit-transition: opacity 250ms var(--animation-style);
  transition: opacity 250ms var(--animation-style);
}

.order__checkbox:checked + .order__switch > .order__switch--unchecked {
  opacity: 0;
}

.order__checkbox:checked + .order__switch > .order__switch--checked {
  opacity: 1;
}

.order__policy {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .benefits {
    padding-bottom: 0;
  }
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.benefits__item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
@media screen and (min-width: 768px) {
  .benefits__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.benefits__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: var(--secondary-background-color);
}

.benefits__icon {
  display: block;
  width: 70px;
  height: 70px;
}

.benefits__title {
  margin-bottom: 10px;
  font-weight: var(--bold-font-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .benefits__title {
    text-align: left;
  }
}

.benefits__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--secondary-text-color);
}

.practice {
  display: none;
}
@media screen and (min-width: 1200px) {
  .practice {
    display: block;
  }
}

.practice__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.practice__item:not(:last-child) {
  margin-right: 30px;
}

.practice__picture {
  position: relative;
}

.practice__title {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-background-color);
  background: var(--practice-bg-color);
}

.team {
  background-color: var(--secondary-background-color);
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.team__item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-background-color);
}
@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.team__details {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team__name {
  margin-bottom: 10px;
  font-weight: var(--medium-font-weight);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--primary-soc-icon-color);
  -webkit-transition: color 250ms var(--animation-style), background-color 250ms var(--animation-style);
  transition: color 250ms var(--animation-style), background-color 250ms var(--animation-style);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-background-color);
}

.social__link--backgrounded {
  background-color: var(--grey-circle-bg-color);
  color: var(--primary-background-color);
}

.social__icon {
  display: block;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--primary-soc-icon-color);
  border-radius: 4px;
  color: var(--primary-soc-icon-color);
  -webkit-transition: color 250ms var(--animation-style), border-color 250ms var(--animation-style);
  transition: color 250ms var(--animation-style), border-color 250ms var(--animation-style);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__icon {
  display: block;
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  row-gap: 15px;
  max-width: 326px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter {
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.filter__button {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: var(--medium-font-weight);
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: inherit;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  border-color: transparent;
  -webkit-transition: color 250ms var(--animation-style), background-color 250ms var(--animation-style), -webkit-box-shadow 250ms var(--animation-style);
  transition: color 250ms var(--animation-style), background-color 250ms var(--animation-style), -webkit-box-shadow 250ms var(--animation-style);
  transition: color 250ms var(--animation-style), background-color 250ms var(--animation-style), box-shadow 250ms var(--animation-style);
  transition: color 250ms var(--animation-style), background-color 250ms var(--animation-style), box-shadow 250ms var(--animation-style), -webkit-box-shadow 250ms var(--animation-style);
  cursor: pointer;
}
.filter__button:hover, .filter__button:focus {
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.portfolio__item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-transition: -webkit-box-shadow 250ms var(--animation-style);
  transition: -webkit-box-shadow 250ms var(--animation-style);
  transition: box-shadow 250ms var(--animation-style);
  transition: box-shadow 250ms var(--animation-style), -webkit-box-shadow 250ms var(--animation-style);
}
.portfolio__item:hover, .portfolio__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}

.portfolio__picture {
  position: relative;
  height: 294px;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--animation-style);
  transition: -webkit-transform 250ms var(--animation-style);
  transition: transform 250ms var(--animation-style);
  transition: transform 250ms var(--animation-style), -webkit-transform 250ms var(--animation-style);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: var(--portfolio-bg-color);
}

.portfolio__item:hover .portfolio__overlay,
.portfolio__item:focus .portfolio__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__description {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
}

.portfolio__details {
  padding: 20px 24px;
  text-align: left;
  border: 1px solid var(--portfolio-border-color);
  border-top: none;
}

.portfolio__name {
  margin-bottom: 4px;
  font-weight: var(--bold-font-weight);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}/*# sourceMappingURL=main.css.map */