.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--header-border-color);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;

  @media screen and (min-width: 768px) {
    justify-content: flex-start;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.navigation__menu {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.navigation__list {
  display: flex;
  align-items: center;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  position: relative;

  display: block;
  position: relative;
  height: 100%;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  font-weight: var(--medium-font-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;

  transition: color 250ms var(--animation-style);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.navigation__link--active {
  color: var(--accent-color);

  &::after {
    display: block;
    position: absolute;
    bottom: 0;

    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: var(--accent-color);
  }
}

.contacts {
  margin-left: auto;
  text-align: left;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.contacts__item:not(:last-child) {
  margin-bottom: 10px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;

  font-weight: var(--medium-font-weight);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  text-decoration: none;
  color: var(--secondary-text-color);
  transition: color 250ms var(--animation-style);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--secondary-text-color);
  }
}

.contacts__icon {
  margin-right: 8px;
  fill: currentColor;

  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}

.contacts__envelope {
  width: 14px;
  height: 10px;

  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}

.contacts__smartphone {
  width: 10px;
  height: 14px;

  @media screen and (min-width: 1200px) {
    height: 16px;
  }
}
