.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__item {
  margin-right: 30px;
  margin-bottom: 30px;

  transition: box-shadow 250ms var(--animation-style);

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio__picture {
  position: relative;

  width: 370px;
  height: 294px;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);
  transition: transform 250ms var(--animation-style);

  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: var(--portfolio-bg-color);
}

.portfolio__item:hover .portfolio__overlay,
.portfolio__item:focus .portfolio__overlay {
  transform: translateY(0);
}

.portfolio__description {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--primary-background-color);
}

.portfolio__details {
  padding: 20px 24px;
  border: 1px solid var(--portfolio-border-color);
  border-top: none;
}

.portfolio__name {
  margin-bottom: 4px;

  font-weight: var(--bold-font-weight);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
