:root {
  --medium-font-weight: 500;
  --bold-font-weight: 700;
  --black-font-weight: 900;

  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --contacts-color: rgba(255, 255, 255, 0.6);

  --primary-soc-icon-color: #afb1b8;

  --primary-logo-color: #000000;
  --accent-color: #2196f3;

  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --third-background-color: #2f303a;

  --header-border-color: #ececec;
  --portfolio-border-color: #eeeeee;
  --close-btn-border-color: rgba(0, 0, 0, 0.1);

  --grey-circle-bg-color: rgba(255, 255, 255, 0.1);
  --practice-bg-color: rgba(47, 48, 58, 0.8);
  --portfolio-bg-color: rgba(33, 150, 243, 0.9);

  --backdrop-color: rgba(0, 0, 0, 0.2);
  --active-btn-color: #188ce8;
  --animation-style: cubic-bezier(0.4, 0, 0.2, 1);
}
