.benefits {
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.benefits__item {
  flex-basis: 100%;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.benefits__picture {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 120px;

  margin-bottom: 30px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: var(--secondary-background-color);
}

.benefits__icon {
  display: block;
  width: 70px;
  height: 70px;
}

.benefits__title {
  margin-bottom: 10px;

  font-weight: var(--bold-font-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.benefits__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;

  color: var(--secondary-text-color);
}
