.clients {
  display: flex;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--primary-soc-icon-color);
  border-radius: 4px;

  color: var(--primary-soc-icon-color);

  transition: color 250ms var(--animation-style), border-color 250ms var(--animation-style);
  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
