.hero {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;

  text-align: center;

  background-color: var(--third-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__title {
  margin-bottom: 30px;

  font-weight: var(--black-font-weight);
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-background-color);
}

.primary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  min-width: 200px;
  height: 50px;
  padding: 10px 28px;

  font-family: inherit;
  font-weight: var(--bold-font-weight);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  border-radius: 4px;
  border-color: transparent;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  transition: background-color 250ms var(--animation-style), box-shadow 250ms var(--animation-style);
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--active-btn-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.primary-button--wide {
  min-width: 216px;
  padding-left: 32px;
  padding-right: 32px;
}
