.practice__list {
  display: flex;
}

.practice__item:not(:last-child) {
  margin-right: 30px;
}

.practice__picture {
  position: relative;
}

.practice__title {
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-background-color);
  background: var(--practice-bg-color);
}
